# ignore folders and files

# folder created by Jupyter Notebook
.ipynb_checkpoints

# all Microsoft Excel files. Source of all evals
ACCESS Advising Evaluation (Responses).xlsx
SOC Advising (Responses).xlsx

